/composer.lock
*~
*.bak
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
*.tmproj
build
.idea
/fuel/vendor
/fuel/app/logs/*/*/*
/fuel/app/cache/*/*
/fuel/app/config/crypt.php
nbproject/

fuel/app/config/development/*
fuel/app/config/production/*
fuel/app/config/test/*
fuel/app/config/staging/*
